@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(20%2c 30%2c 48%2c 1)'%3e%3c/rect%3e%3ccircle r='93.335' cx='-64.84' cy='5.2' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='352.29' cy='370.96' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='711' cy='795.47' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='48.635' cx='635.05' cy='191.1' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='140.815' cx='420.97' cy='331.16' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='152.35' cx='357.5' cy='223.03' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='125.095' cx='335.56' cy='197.28' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='145.64' cx='308.44' cy='156.14' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='122.855' cx='280.49' cy='220.45' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='136.635' cx='591.92' cy='522.49' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='105.13' cx='649.92' cy='296.59' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='158.6' cx='222.11' cy='152.81' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='82.47' cx='301.98' cy='334.76' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='81.175' cx='840.95' cy='360.58' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='97.58' cx='507.28' cy='270' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='114.545' cx='982.25' cy='496.24' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='155.22' cx='529.93' cy='126.58' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='108.985' cx='100.59' cy='247.42' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='148.53' cx='498.82' cy='110.5' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='62.205' cx='709.82' cy='356.35' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='58.655' cx='833.7' cy='461.94' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='96.635' cx='1169.63' cy='288.25' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='97.69' cx='1358.78' cy='407.31' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='117.595' cx='1134.83' cy='477.94' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='168.685' cx='1106.71' cy='210.33' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='116.845' cx='485.49' cy='206.09' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='87.03' cx='99.97' cy='290.56' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='67.595' cx='169.2' cy='445.62' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='137.67' cx='128.18' cy='347.65' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='77.095' cx='849.05' cy='495.11' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='170.875' cx='490.6' cy='163.88' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='67.115' cx='850.26' cy='480.76' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='141.025' cx='488.92' cy='117.4' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='50.955' cx='674.6' cy='93.38' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='126.22' cx='392.87' cy='376.08' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='98.935' cx='653.3' cy='131.86' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='76.955' cx='1399.31' cy='300.36' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='59.94' cx='1157.43' cy='446.62' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='125.04' cx='860.68' cy='144.44' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='123.98' cx='1287.39' cy='101.69' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1006'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

.Welcome-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.Welcome-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  max-height: 40%

}

.header-content {
  margin-top: 10%;
  text-align: center;
  color: #EFEEF5;
}

.header-content h1 {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 1px;

}

.header-content p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .btn {
  margin: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  line-height: 1.6;
  font-size: 2.2rem;
  font-weight: 100;
  transition: 0.2s ease-in-out;
}

.container .btn:hover {
  border: none;
  width: 100px;
  border-radius: 50px;
}

.container .btn:hover:after {
  display: block;
  content: " ";
  font-size: 1.5rem;
}

.container .btn:nth-child(1) {
  border: 1px solid #060707;
  box-shadow: 0px 0px 20px 0px rgb(19, 239, 255);
}

.container .btn:nth-child(1) .fa {
  color: #8ffaf7;
}

.container .btn:nth-child(1):hover {
  border: none;
  box-shadow: none;
  background: linear-gradient(130deg, #0196a7, #0196a7);
  color: #8ffaf7;
}

.container .btn:nth-child(2) {
  border: 1px solid #060707;
  box-shadow: 0px 0px 20px 0px rgb(19, 239, 255);
}

.container .btn:nth-child(2) .fa {
  color: #8ffaf7;
}

.container .btn:nth-child(2):hover {
  border: none;
  background: linear-gradient(130deg, #0196a7, #0196a7);
  color: #8ffaf7;
  box-shadow: none;
}

.container .btn:nth-child(2):hover .fa {
  color: #8ffaf7;
}

.container .btn:nth-child(3) {
  border: 1px solid #060707;
  box-shadow: 0px 0px 20px 0px rgb(19, 239, 255);
}

.container .btn:nth-child(3) .fa {
  color: #8ffaf7;
}

.container .btn:nth-child(3):hover {
  border: none;
  background: linear-gradient(130deg, #0196a7, #0196a7);
  color: #8ffaf7;
  box-shadow: none;
}

.container .btn:nth-child(3):hover .fa {
  color: #8ffaf7;
}
@media (max-width: 1023px) {
  section {
      padding: 80px 10px;
  }

  .container {
      width: 90%;
      padding: 50px 20px;
  }


}